@layer components {
  .accordion {
    @apply flex w-full flex-col;
  }

  .accordion__item:not(:last-child) {
    border-bottom: 1px solid var(--border);
  }

  .accordion__header {
    @apply flex;
  }

  .accordion__trigger {
    @apply relative flex flex-1 items-start justify-between rounded-lg border border-transparent py-2.5 text-left text-sm font-medium outline-none transition-all;
  }

  .accordion__trigger:hover:not(:disabled, [data-disabled]) {
    text-decoration: underline;
  }

  .accordion__trigger:focus-visible {
    border-color: var(--ring);
    box-shadow: 0 0 0 3px color-mix(in oklch, var(--ring) 50%, transparent);
  }

  .accordion__trigger:is(:disabled, [data-disabled]) {
    @apply pointer-events-none;

    opacity: var(--disabled-opacity);
  }

  .accordion__icon {
    @apply relative ml-auto inline-flex size-4 shrink-0 items-center justify-center text-muted-foreground pointer-events-none;
  }

  .accordion__icon > svg {
    @apply size-4;
  }

  .accordion__icon > :not(svg, .accordion__icon-chevron) {
    @apply inline-flex size-4 items-center justify-center;

    font-size: 1rem;
    line-height: 1;
  }

  .accordion__icon-chevron {
    @apply size-4;

    transition: transform 150ms ease-out;
  }

  .accordion__trigger[data-state='open'] .accordion__icon-chevron {
    transform: rotate(180deg);
  }

  .accordion__content {
    @apply overflow-hidden text-sm;
  }

  .accordion__content[hidden] {
    display: none !important;
  }

  .accordion__content[data-state='open'] {
    animation: accordion-expand 120ms ease-out;
  }

  .accordion__content[data-state='closed'] {
    animation: accordion-collapse 120ms ease-out;
  }

  .accordion__content-inner {
    @apply pt-0 pb-2.5;
  }

  .accordion__content-inner a {
    @apply underline underline-offset-3;
  }

  .accordion__content-inner a:hover {
    color: var(--foreground);
  }

  .accordion__content-inner p:not(:last-child) {
    @apply mb-4;
  }
}
