@import "tailwindcss";

@theme {
  --spacing: 0.25rem;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --duration-100: 100ms;
}

@import "../src/styles/tokens.css";
@import "../src/components/date-picker/style.css";
